$primary-color: #abd699;
$secondary-color: #c7ddcc;
$tertiary-color: #29236d;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $tertiary-color;
    position:relative;
    font-family: 'Montserrat', sans-serif;
}

@import 'section-1';
@import 'section-2';
@import 'section-3';
@import 'section-4';
@import 'section-5';